@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital@1&family=Roboto:ital,wght@0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 100px;
}

p {
    font-weight: 500;
}

.profile_picture_container{
    margin: 20px;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.title h1{
    --tw-text-opacity: 1;
    color: rgb(120 53 15 / var(--tw-text-opacity));
}

#aboutmetext {
    font-size: 25px;
    font-weight: 500;
}

.containers div {
    padding: 10px;
    display: flex;
    align-items: center;
}

.educations h3{
    font-size: 100px;
}

.educations p{
    font-size: 20px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.socialmedia{
    width: 90px;
    height: 90px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.socialmedia :hover {
    width: 100px;
    height: 100px;
}